* {box-sizing: border-box;}



body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #AED6F1;
  color: #4E8996;
  text-shadow: 2px 2px 4px white;
  opacity:1;
  transition:opacity 0.5s linear;
}
.arrow {
  border: solid #ffffff8e;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#main {
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.btn{
  height: 100vh;
  border-radius: 0;
}

.btn:hover{
  background-color: #00000021;
}
#main #logo{
  transition: 0.9s;
}
#logo{
    position: fixed;
    left: 500px;
}
#next{
    position: fixed;
    right: 0px;
}
#prev{
    position: fixed;
    left: 0px;
}
#down{
  position: fixed;
  top: 96vh;
  left: 34vb;
  z-index: 99;
  height: 1000px;
  border-radius: 300px;
  transition: 0.5s;
}

#author{
    position: fixed;
    right: -500px;
    transition: 0.9s;
}
#page{
    position: fixed;
    right: -200px;
    transition: 0.9s;
}
img{
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
}
.btn:active {
  outline: none;
  border: none;
}

@media screen and (max-width: 580px) {
  #main {
    padding: 20px 10px !important;
  }
}